@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: Poppins;
    color: #eee;
    margin: 0;
    padding: 0;
}

/* my navbar */

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand {
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: bold;
    color: #6610f2;
}
.offcanvas-title{
    color: #0d6efd;
    font-size: 3rem;
    font-family: Poppins;
}
.mynavbar .navi a{
    color: #6610f2;
    font-weight: 400;
}
  .mynavbar .nav-link {
    font-family: Poppins;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #333;
    gap: 50px;
  }

/* SLIDER */
.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 20%, transparent);
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: #eee;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 100px;
    font-family: Poppins;
    margin: 0;
    /* color: #0d6efd; */
    
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent{
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: .1s;
}
.slider .list .item.active p:nth-child(3){
    animation-delay: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
     background-color: #eee5;
     border: none;
     font-family: monospace;
     width: 40px;
     height: 40px;
     border-radius: 5px;
     font-size: x-large;
     color: #eee;
     transition: .5s;
}
.arrows button:hover{
    border-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 150px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 150px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width:678px){
    html{
        font-size: 50%;
    }
    header .logo{
        font-size: 15px;
    }
    svg{
        width: 10px;
    }
    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
      }
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content p{
        font-size: 15px;
    }
    .slider .list .item .content h2{
        font-size: 38px;
    }
    .arrows{
        top: 60%;
    }
}







section {
    padding: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
